/*
 * 学习提示：页面模块：每个文件通常对应一个后台页面或页面私有组件，是学习业务 CRUD 的重点。
 * 作为 React 初学者，可以先看本文件导出的组件/函数名称，再顺着 props、state、useEffect 和事件处理函数理解数据流。
 */
.animation {
  animation: shake 0.6s ease-in-out infinite alternate;
}

@keyframes shake {
  0% {
    transform: translate(-1px);
  }

  10% {
    transform: translate(2px, 1px);
  }

  30% {
    transform: translate(-3px, 2px);
  }

  35% {
    filter: blur(4px);
    transform: translate(2px, -3px);
  }

  45% {
    filter: blur(0);
    transform: translate(2px, 2px) skewY(-8deg) scaleX(0.96);
  }

  50% {
    transform: translate(-3px, 1px);
  }
}
